	.tile {
	  position: absolute;
	  width: 36px;
	  height: 45px;
	  background-image: url('../img/tiles2.png');
	  background-size: 512px 135px;
	  cursor: pointer;
	}
	.tile.selected {
		border: 3px rgb(0, 0, 255) solid;
	}
 
.suit_character.name_1 { background-position: 0 0; }
.suit_character.name_2 { background-position: -36px 0px; }
.suit_character.name_3 { background-position: -72px 0px; }
.suit_character.name_4 { background-position: -110px 0px; }
.suit_character.name_5 { background-position: -147px 0px; }
.suit_character.name_6 { background-position: -183px 0px; }
.suit_character.name_7 { background-position: -219px 0px; }
.suit_character.name_8 { background-position: -256px 0px; }
.suit_character.name_9 { background-position: -293px 0px; }

.suit_circle.name_1 { background-position: 0px 45px; }
.suit_circle.name_2 { background-position: -36px 45px; }
.suit_circle.name_3 { background-position: -72px 45px; }
.suit_circle.name_4 { background-position: -110px 45px; }
.suit_circle.name_5 { background-position: -147px 45px; }
.suit_circle.name_6 { background-position: -183px 45px; }
.suit_circle.name_7 { background-position: -219px 45px; }
.suit_circle.name_8 { background-position: -256px 45px; }
.suit_circle.name_9 { background-position: -293px 45px; }

.suit_bamboo.name_1 { background-position: 0px 90px; }
.suit_bamboo.name_2 { background-position: -36px 90px; }
.suit_bamboo.name_3 { background-position: -72px 90px; }
.suit_bamboo.name_4 { background-position: -110px 90px; }
.suit_bamboo.name_5 { background-position: -147px 90px; }
.suit_bamboo.name_6 { background-position: -183px 90px; }
.suit_bamboo.name_7 { background-position: -219px 90px; }
.suit_bamboo.name_8 { background-position: -256px 90px; }
.suit_bamboo.name_9 { background-position: -293px 90px; }

.suit_dragon.name_green { background-position: -475px 0px; }
.suit_dragon.name_white { background-position: -475px 45px; }
.suit_dragon.name_red { background-position: -475px 90px; }

.suit_flower.name_bamboo { background-position: -329px 45px; }
.suit_flower.name_plum { background-position: -365px 45px; }
.suit_flower.name_orchid { background-position: -402px 45px; }
.suit_flower.name_chrysantememum { background-position: -439px 45px; }

.suit_season.name_spring { background-position: -329px 90px; }
.suit_season.name_summer { background-position: -365px 90px; }
.suit_season.name_autumn { background-position: -402px 90px; }
.suit_season.name_winter { background-position: -439px 90px; }

.suit_wind.name_north { background-position: -329px 0px; }
.suit_wind.name_south { background-position: -365px 0px; }
.suit_wind.name_east { background-position: -402px 0px; }
.suit_wind.name_west { background-position: -439px 0px; }

.board {
	position: relative;
	min-height: 480px;
}