<html lang="en" ng-app="AdvJS">
 <head>
 <base href="/dist/views/">
   <!-- The css is copied into dist/css/app.css by the copy task -->

 </head>
 <body ng-controller="UserController" >
 	 <div class="container">
		<a class="btn btn-warning navbar-btn" ng-show="isLoggedIn()" ng-click="signOut()">Sign out</a>
		<a class="btn btn-success navbar-btn" ng-show="!isLoggedIn()" href="http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:8080/dist/views/%23/">Sign in</a>
		<p class="navbar-text navbar-right" ng-show="isLoggedIn()"> {{ getUsername() }}&nbsp;</p>
	 	 <div class="col-md-6 col-md-offset-3" ng-show="isLoggedIn()">
		 	<h2>Add Game</h2>
			<form name="addForm" ng-submit="postGame(new)">
				<div class="form-group">
					<label for="name">Type</label>

					<select class="form-control" id="templateName" name="templateName" ng-model="new.templateName" required>
						<option>Shanghai</option>
						<option>Snake</option>
						<option>Ox</option>
						<option>Ram</option>
						<option>Dragon</option>
						<option>Rooster</option>
						<option>Monkey</option>
					</select>

				</div>
				<div class="form-group">
					<label for="genre">Min players</label>
					<input min="1" max="32" type="number" class="form-control" id="minPlayers" placeholder="Min players" ng-model="new.minPlayers">
				</div>
				<div class="form-group">
					<label for="genre">Max players</label>
					<input min="1" max="32" type="number" class="form-control" id="maxPlayers" placeholder="Max players" ng-model="new.maxPlayers">
				</div>
				<input type="submit" class="btn btn-success" value="Add game" />
			</form>
	 	 </div>
 	 </div>

 	 <div class="container">
		 <div class="list-group">
			<h2>Current Games</h2>
			<div class="navbar">
				<button class="btn btn-success btn-lg" ng-click="setGameStateFilter('')">All</button>
				<button class="btn btn-warning btn-lg" ng-click="setGameStateFilter('playing')">Playing</button>
			 	<button class="btn btn-danger btn-lg" ng-click="setGameStateFilter('finished')">Finished</button>
			 	<button class="btn btn-info btn-lg" ng-click="setGameStateFilter(getUsername())">My games</button>
		 	</div>
		 	<div class="list-group-item" ng-repeat="game in games | orderBy:'game.createdOn' | filter: gameStateFilter">
			 	<h3 class="list-group-item-heading">{{ game.gameTemplate.id }}</h3>
			 	<div style="float:right;">
					<button ng-show="game.state == 'open' && game.players.length != game.maxPlayers && isLoggedIn()" class="btn btn-success btn-lg" ng-click="joinGame(game.id)">Join</button>
					<button ng-show="game.state == 'playing'" class="btn btn-warning btn-lg">Playing</button>
				 	<button ng-show="game.state == 'finished'" class="btn btn-danger btn-lg">Finished</button>
				 	<button ng-show="game.state == 'playing' || game.state == finished" class="btn btn-info btn-lg"><a ng-href="http://localhost:8080/dist/views/#/games/{{game.id}}">Watch</a></button>
				 	<button ng-show="game.state == 'open' && game.players.length >= game.minPlayers && isLoggedIn()" class="btn btn-info btn-lg"><a ng-click="startGame(game.id)" ng-href="http://localhost:8080/dist/views/#/games">Start</a></button>
			 	</div>
			 	<span> Created on: {{ game.createdOn }}</span><span ng-show="game.startedOn">, Started on: {{ game.startedOn }}</span><span ng-show="game.endedOn">, Ended on: {{ game.endedOn }}</span><br/>
			 	<span> Created By: {{ game.createdBy.name }}</span><br/>
			 	<span> Players: {{ game.players.length }}/{{ game.maxPlayers }}</span>
		 	</div>
		</div>
	</div>
 </body>
</html>