	 	 <div class="col-md-6 col-md-offset-3" ng-show="isLoggedIn()">
		 	<h2>Add Game</h2>
			<form name="addForm" ng-submit="postGame(new)">
				<div class="form-group">
					<label for="name">Type</label>

					<select class="form-control" id="templateName" name="templateName" ng-model="new.templateName" required>
						<option>Shanghai</option>
						<option>Snake</option>
						<option>Ox</option>
						<option>Ram</option>
						<option>Dragon</option>
						<option>Rooster</option>
						<option>Monkey</option>
					</select>

				</div>
				<div class="form-group">
					<label for="genre">Min players</label>
					<input min="1" max="32" type="number" class="form-control" id="minPlayers" placeholder="Min players" ng-model="new.minPlayers">
				</div>
				<div class="form-group">
					<label for="genre">Max players</label>
					<input min="1" max="32" type="number" class="form-control" id="maxPlayers" placeholder="Max players" ng-model="new.maxPlayers">
				</div>
				<input type="submit" class="btn btn-success" value="Add game" />
			</form>
	 	 </div>
 	 </div>

 	 <div class="container">
		 <div class="list-group">
			<h2>Current Games</h2>
			<div class="navbar"> 
				<button class="btn btn-success btn-lg" ng-click="setGameStateFilter('')">All</button>
				<button class="btn btn-warning btn-lg" ng-click="setGameStateFilter('playing')">Playing</button>
			 	<button class="btn btn-danger btn-lg" ng-click="setGameStateFilter('finished')">Finished</button>
			 	<button class="btn btn-info btn-lg" ng-click="setGameStateFilter(getUsername())">My games</button>
		 	</div>
		 	<div class="list-group-item" ng-repeat="game in games | orderBy:'game.createdOn' | filter: gameStateFilter">
			 	<h3 class="list-group-item-heading">{{ game.gameTemplate.id }}</h3>
			 	<div style="float:right;">
					<button ng-show="game.state == 'open' && game.players.length != game.maxPlayers && isLoggedIn() && game.players.indexOf(getUsername()) != -1" class="btn btn-success btn-lg" ng-click="joinGame(game.id)">Join</button>
					<button ng-show="game.state == 'playing'" class="btn btn-warning btn-lg" disabled>Playing</button>
				 	<button ng-show="game.state == 'finished'" class="btn btn-danger btn-lg" disabled>Finished</button>
				 	<a ng-show="game.state == 'playing' || game.state == finished" class="btn btn-info btn-lg"  ui-sref="game({gameId: game.id})" ui-sref-active="active">Watch</a>
				 	<button ng-show="game.state == 'open' && game.players.length >= game.minPlayers && isLoggedIn() && game.createdBy._id == getUsername()" class="btn btn-info btn-lg" ng-click="startGame(game.id)" >Start</button>
			 	</div>
			 	<span> Created on: {{ game.createdOn }}</span><span ng-show="game.startedOn">, Started on: {{ game.startedOn }}</span><span ng-show="game.endedOn">, Ended on: {{ game.endedOn }}</span><br/>
			 	<span> Created By: {{ game.createdBy.name }}</span><br/>
			 	<span> Players: {{ game.players.length }}/{{ game.maxPlayers }} ( <span ng-repeat="player in game.players">{{player.name}} - </span>)</span>
		 	</div>
		</div>
