<html lang="en" ng-app="AdvJS">
 <head>
 <base href="/dist/views/">
   <!-- The css is copied into dist/css/app.css by the copy task -->
   <link rel="stylesheet" href="../assets/css/app.css"/>
   <link rel="stylesheet" href="../assets/css/bootstrap.css"/>
   <link rel="stylesheet" href="../assets/css/bootstrap-theme.css"/>
 <body>
 	<div ui-view ng-controller="UserController">
	<h2> Mayong Mayhem 2</h2>

	<a class="btn btn-warning navbar-btn" ng-show="isLoggedIn()" ng-click="signOut()">Sign out</a>
	<a class="btn btn-success navbar-btn" ng-show="!isLoggedIn()" href="http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:8080/dist/views/%23/">Sign in</a>
	<p class="navbar-text navbar-right" ng-show="isLoggedIn()"> {{ getUsername() }}&nbsp;</p>
	<a class="btn btn-success" ui-sref="gameList" ui-sref-active="active">Games</a>
 	</div>
	<script src="../js/app.js"></script>
 </body>
</html>